body, html {
    height: 100%;
    font-family: 'Basic';
    color: rgb(174, 209, 228);
    
}


/* HERO HEADER STYLE */
.hero-image {
    background-image: url(https://www.issgovernance.com/file/2013/11/Website-Frontpage-Header-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 175px;
    max-width: 100%;
    position: relative;
    border-top: 15px solid rgb(14, 14, 68);
    border-bottom: 15px solid rgb(14, 14, 68);
}

.Portfolio-name h1 {
    flex-direction: column;
    text-align: center;
    position: relative;
    top: -35px;
    font-size: 50px;
    text-decoration: underline;
    padding: 0px;
    text-indent: 0cm;
    letter-spacing: normal;
    height: 80px;
    background: rgb(14, 14, 68, 0.5);
    }

    
ul {
            list-style-type: none;
            margin: -30px;
            padding: 0;
            overflow: hidden;
          }
    
          li {
            float: right;
            margin-right: 30px;
            text-indent: -2.75ch;
          }

          li a {
            display: block;
            color: rgb(174, 209, 228);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }

          ul li a:hover {
            color: #a64c88;
          }

          .description {
            display: block;
            margin-left: 15px;
            padding-top: 0px;
            margin-top: 0px; 
            margin-bottom: 5px;
            font-size: 30px;
    
         }
         .vertical-line{
            display: inline-block;
            border-left: 7px solid rgb(57, 125, 168);
            margin-left: 150px;
            height: auto;
         }
        
         
         .flex-container {
            display: flex;
            flex-wrap: wrap;
         }

         .flex-item {
            display: flex;
            flex-basis: 45%;
            height: 400px;
            margin-top: 10px;
            margin-left: 12px;
         }

         .flex-item:first-child {
            flex-basis: 100%;
            height: 500px;
         }
       
            
         

         .about {
            color:rgb(14, 14, 68);
            font-size: 20px;
            text-align: left;
            text-rendering: ;
            font-size: 20px;
        margin-bottom: 80px;
        margin-top: 80px;
         }

         .about-hd {
            
            inline-size: 150px;
    overflow-wrap: break-word;
            color:rgb(14, 14, 68);
            font-size: 40px;
            margin-bottom: -40px;
        }

        .about p {
            margin-left: 50px;
        }

/* PROJECT SECTION */

    .project-1-card {
        
        border: 8px solid rgb(14, 14, 68);
        box-sizing: border-box;
        background-image: url("./images/Bikini_Bottom_Cinema.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
    
        

    }

    .work-hd {
        color:rgb(14, 14, 68);
        font-size: 40px;
        margin-bottom: -80px;
    }

    .project-header {
        /* width: 200px; */
        height: 80px;
        border: 1px solid rgb(14, 14, 68);
        box-sizing: border-box;
        display: flex;
        align-content: right;  
        align-self: flex-start;
        font-size: 15px;
        margin: 0;
        background-color: orange;
        color: green;
        text-align: left;
        
            }
          

    .project-header h3 {
        text-decoration: underline;
        line-height: 0.25cm;
    }
 
    .project-2-card {
        
        border: 8px solid black;
        box-sizing: border-box; 
        background-image: url("./images/Busy_Bee.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
    
    }

    .project-2-header {
        /* width: 300px; */
        height: 100px;
        border: 1px solid black;
        box-sizing: border-box;
        align-content: right; 
        font-size: 15px;
        margin: 0;
        background-color: black;
        color: rgba(255, 255, 70, 0.925);
        text-align: left;
    }

    .project-3-card {
        
        border: 8px solid black;
        box-sizing: border-box;
        background-color: #a64c88;       
    }

    .project-3-header {
        /* width: 200px; */
        height: 100px;
        border: 1px solid black;
        box-sizing: border-box;
        align-content: right; 
        font-size: 15px;
        margin: 0;
        background-color: black;
        color: rgba(106, 12, 139, 0.925);
        text-align: left;
    }
    .project-4-card {
        
        border: 8px solid black;
        box-sizing: border-box; 
        background-color: #a64c88;   
    }

    .project-4-header {
        /* width: 200px; */
        height: 100px;
        border: 1px solid black;
        box-sizing: border-box;
        align-content: right; 
        font-size: 15px;
        margin: 0;
        background-color: black;
        color: rgba(106, 12, 139, 0.925);
        text-align: left;
    }
/*CONTACT SECTION*/

.contact {

    margin-top: 50px;
    align-content: center;
    color:rgb(14, 14, 68);
    line-height: normal;
    margin-left: -1px;
}
    .contact-hd {   
        inline-size: 150px;

        color: rgb(14, 14, 68);
        font-size: 40px;
        margin-bottom: -40px;
    }

    .contact p {
        margin-left: 40px;
    }



@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  @media screen and (max-width: 980px) {
  
}
  @media screen and (max-width: 768px) {
    .flex-item, 
    .flex-item:first-child {
        flex-basis: 100%;
        height: 150px;
    }
.project-header {
    height: 40%;
    font-size: 12px;
}
.project1-description {
    display: none;
}
.project-2-header {
    height: 40%;
    font-size: 12px;
}
.project2-description {
    display: none;
}
.project-3- header {
    height: 40%;
    font-size: 12px;
}
.project3-description {
    display: none;
}
.project-4-header {
    height: 40%;
    font-size: 12px;
}
.project4-description {
    display: none;
}
  }
