body, html {
    height: 100%;
    font-family: 'Basic';
    color: rgb(174, 209, 228);
    
}
/* HERO HEADER STYLE */
.hero-image {
    background-image: url(https://www.issgovernance.com/file/2013/11/Website-Frontpage-Header-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 175px;
    max-width: 100%;
    position: relative;
    border-top: 15px solid rgb(14, 14, 68);
    border-bottom: 15px solid rgb(14, 14, 68);
}

.Portfolio-name h1 {
    flex-direction: column;
    text-align: center;
    position: relative;
    top: -35px;
    font-size: 50px;
    text-decoration: underline;
    padding: 0px;
    text-indent: 0cm;
    letter-spacing: normal;
    height: 80px;
    background: rgb(14, 14, 68, 0.5);
    }

    
ul {
            list-style-type: none;
            margin: -30px;
            padding: 0;
            overflow: hidden;
          }
    
          li {
            float: right;
            margin-right: 30px;
            text-indent: -2.75ch;
          }

          li a {
            display: block;
            color: rgb(174, 209, 228);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }

          ul li a:hover {
            color: #a64c88;
          }

          .description {
            display: block;
            margin-left: 15px;
            padding-top: 0px;
            margin-top: 0px; 
            margin-bottom: 5px;
            font-size: 30px;
    
         }
         .vertical-line{
            display: inline-block;
            border-left: 7px solid rgb(57, 125, 168);
            margin-left: 150px;
            height: auto;
         }
        
         
         .grid-container {
            display: grid;
            grid-template-columns: auto;
            justify-content: space-evenly;
            height: 400px;
            margin-top: auto;
            margin-bottom: 30px;
            margin-left: 50px;

         }

         .grid-container-2 {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-evenly;
            height: 400px;
            margin-top: auto;
            
         }

         .about {
            color:rgb(14, 14, 68);
            font-size: 20px;
            text-align: left;
            text-rendering: ;
            font-size: 20px;
        margin-bottom: 80px;
        margin-top: 80px;
         }

         .about-hd {
            
            inline-size: 150px;
    overflow-wrap: break-word;
            color:rgb(14, 14, 68);
            font-size: 40px;
            margin-bottom: -40px;
        }

        .about p {
            margin-left: 50px;
        }

/* PROJECT SECTION */

    .project-1-card {
        width: 900px;
        height: 400px;
        border: 8px solid rgb(14, 14, 68);
        box-sizing: border-box;
        background-image: url("./images/Bikini_Bottom_Cinema.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
    
        

    }

    .work-hd {
        color:rgb(14, 14, 68);
        font-size: 40px;
        margin-bottom: -80px;
    }

    .project-header {
        width: 200px;
        height: 80px;
        border: 1px solid rgb(14, 14, 68);
        box-sizing: border-box;
        display: flex;
        align-content: right;  
        align-self: flex-start;
        font-size: 15px;
        margin: 0;
        background-color: orange;
        color: green;
        text-align: center;
    }

    .project-header h3 {
        text-decoration: underline;
        line-height: 0.25cm;
    }
 
    .project-2-card {
        width: 500px;
        height: 300px;
        border: 8px solid black;
        box-sizing: border-box; 
        background-image: url("./images/Busy_Bee.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        margin-left: 80px;
    }

    .project-2-header {
        width: 300px;
        height: 100px;
        border: 1px solid black;
        box-sizing: border-box;
        align-content: right; 
        font-size: 15px;
        margin: 0;
        background-color: black;
        color: rgba(255, 255, 70, 0.925);
        text-align: left;
    }

    .project-3-card {
        width: 500px;
        height: 300px;
        border: 8px solid black;
        box-sizing: border-box;
        margin-left: 30px; 
        background-color: #a64c88;       
    }

    .project-3-header {
        width: 200px;
        height: 100px;
        border: 1px solid black;
        box-sizing: border-box;
        align-content: right; 
        font-size: 15px;
        margin: 0;
        background-color: black;
        color: rgba(106, 12, 139, 0.925);
        text-align: left;
    }
    .project-4-card {
        width: 500px;
        height: 300px;
        border: 8px solid black;
        box-sizing: border-box; 
        margin-top: 30px; 
        margin-left: 80px;
        background-color: #a64c88;   
    }

    .project-4-header {
        width: 200px;
        height: 100px;
        border: 1px solid black;
        box-sizing: border-box;
        align-content: right; 
        font-size: 15px;
        margin: 0;
        background-color: black;
        color: rgba(106, 12, 139, 0.925);
        text-align: left;
    }
/*CONTACT SECTION*/

.contact {

    margin-top: 300px;
    align-content: center;
    color:rgb(14, 14, 68);
    line-height: normal;
    margin-left: -1px;
}
    .contact-hd {   
        inline-size: 150px;

        color: rgb(14, 14, 68);
        font-size: 40px;
        margin-bottom: -40px;
    }

    .contact p {
        margin-left: 40px;
    }



@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    body main .about-hd .row .about  .work {
      width: 25%;
    }

    }
    .description{
        font-size: medium;
        margin-top: 10px;
        text-align: center;
    }
   
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {

    
    header body {
      width: 100%;
    }
    .topnav {
      display: flex;
      flex-direction: column;
      align-content: center;
      margin-top: auto;

    }
    .vertical-line {
       
        border-left: none;
        margin-left: none;
    }
    .about-hd {
        text-align: justify;
        white-space: nowrap;
        
    }
    .about p {
        margin-left: -60%;
        margin-top: 50px;
        margin-bottom: 0px;
    }
   .work-hd  {
        height: 200px;
        width:450px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: left;
        margin-top: 0px;
   }
   .project-1-card, .project-1-card-a {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: -10%;
    margin-top: -20px;
   }
   .project-header {
    height: 70px;
    font-size: small;
   }
   .project-2-card, .project-2-card-a {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: -22%;
    margin-bottom: 20px;
   }
   .project-2-header {
    height: 80px;
    width: 290px;
    font-size: small;
    margin-left: 60px;
    
   }
      }

        
    

    

  
 
 
  }