body, html {
    height: 100%;
}
/* HERO HEADER STYLE */
header {
    background-image: url(https://www.issgovernance.com/file/2013/11/Website-Frontpage-Header-02.jpg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
